name: Test

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ windows-2022 ]
        platform: [ x64 ]
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      shell: pwsh
      run: |
        py -m pip install --upgrade pip
        py -m pip install numpy scipy

    - name: Run solutions for AoC 2022
      shell: pwsh
      run: ${{ github.workspace }}\run_all.ps1 -year 2022 
    
    - name: Run solutions for AoC 2023
      shell: pwsh
      run: ${{ github.workspace }}\run_all.ps1 -year 2023

    - name: Run solutions for AoC 2024
      shell: pwsh
      run: ${{ github.workspace }}\run_all.ps1 -year 2024
      
    - name: Run solutions for AoC 2025
      shell: pwsh
      run: ${{ github.workspace }}\run_all.ps1 -year 2025
